<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>我发布的失物招领</title>
    <script th:src="@{/static/jquery-3.4.1.js}" type="text/javascript"></script>
    <script th:src="@{/static/js/bootstrap.min.js}"></script>
    <script src="https://cdn.bootcss.com/popper.js/1.16.1/esm/popper.min.js" type="text/javascript"></script>
    <link th:href="@{/static/css/bootstrap.min.css}" rel="stylesheet"/>
    <link rel="icon" type="image/x-icon" th:href="@{/static/favicon.ico}">
    <link th:href="@{/static/css/font-awesome.min.css}" rel="stylesheet">
    <style>
        .news-nav{
            position: relative;
            top: -19px;
            left: 0;
            width: 100%;
            border: 1px solid #ccc;
            height: 36px;
        }
        .col-sm-6{
            width: 20%;
        }
        .a-detail{
            width: 250px;
            min-width: 100%;
            overflow: hidden;
            text-overflow: ellipsis;
            white-space: nowrap;
        }
        .a-name{
            width: 250px;
            min-width: 100%;
            overflow: hidden;
            text-overflow: ellipsis;
            white-space: nowrap;
        }
    </style>
</head>
<body style="padding-top: 70px">
<!--导航栏-->
<nav class="navbar navbar-default navbar-fixed-top">
    <div class="container-fluid">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
                <span class="sr-only">校园生活网</span>
            </button>
            <a class="navbar-brand" th:href="@{/index}">校园生活网</a>
        </div>

        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
            <ul class="nav navbar-nav">
                <li><a th:href="@{/questionnaire}">问卷调查</a></li>
                <li><a th:href="@{/article}">失物招领</a></li>
                <li><a th:href="@{/activity}">校园活动</a></li>
                <li><a th:href="@{/node}">校园论坛</a></li>
                <li><a th:href="@{/confession}">表白墙</a></li>
                <li><a th:href="@{/advice}">举报和建议</a></li>
            </ul>
            <form class="navbar-form navbar-left" th:action="@{/search_everywhere}" method="get">
                <div class="form-group">
                    <input type="text" class="form-control" placeholder="搜索问题，话题" name="title">
                </div>
                <button type="submit" class="btn btn-default" >搜索</button>
            </form>
            <ul class="nav navbar-nav navbar-right" th:switch="${session.user != null}">
                <li th:case="false">
                    <a th:href="@{/login}">登录</a>
                </li>
                <li  th:case="true" class="dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">我<span class="caret"></span></a>
                    <ul class="dropdown-menu">
                        <li><a th:href="@{/message}">消息</a></li>
                        <li><a th:href="@{/info}">个人资料</a></li>
                        <li><a th:href="@{/my_submit}">我发布的</a></li>
                        <li role="separator" class="divider"></li>
                        <li><a th:href="@{/logout}">退出</a></li>
                    </ul>
                </li>
            </ul>
        </div>
    </div>
</nav>   <!--导航栏结束-->
    <div class="news-nav">
        <div class="container">
            <a th:href="@{/my_submit}" class="btn btn-default" role="button">我发布的帖子</a>
            <a th:href="@{/my_submit_article}" class="btn btn-default" role="button">我发布的失物招领</a>
            <a th:href="@{/my_submit_advice}" class="btn btn-default" role="button">我发布的举报和建议信息</a>
        </div>
    </div>

    <div class="page-header">
        <h1>我发布的失物招领信息：</h1>
    </div>
    <div class="panel-default" th:if="${articleList.size() == 0}">
        <p>暂无发布的招领信息</p>
    </div>
    <div class="col-sm-6 col-md-4" th:each="article : ${articleList}">
        <div class="thumbnail">
            <img th:src="'data:image/jpeg;base64,'+${article.getArticle_picture_1()}" alt="" style="width: 300px;height: 400px;">
            <div class="caption">
                <h3 class="a-name" th:text="${article.getArticle_name()}"></h3>
                <p class="a-detail" th:text="${article.getArticle_detail()}"></p>
                <div th:switch="${stateList.get(articleStat.index)}">
                    <div class="btn-group">
                        <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            选择招领状态 <span class="caret"></span>
                        </button>
                        <ul class="dropdown-menu">
                            <li><a th:href="@{/condition(state=${'未认领'},id=${article.getArticle_id()})}">未认领</a></li>
                            <li><a th:href="@{/condition(state=${'认领中'},id=${article.getArticle_id()})}">认领中</a></li>
                            <li><a th:href="@{/condition(state=${'已认领'},id=${article.getArticle_id()})}">已认领</a></li>
                        </ul>
                    </div>
                    <span class="label label-default" style="font-size: 19px;"  th:case="'未认领'" th:text="${stateList.get(articleStat.index)}"></span>
                    <span class="label label-warning" style="font-size: 19px;"  th:case="'认领中'" th:text="${stateList.get(articleStat.index)}"></span>
                    <span class="label label-success" style="font-size: 19px;"  th:case="'已认领'" th:text="${stateList.get(articleStat.index)}"></span>
                </div>
            </div>
        </div>
    </div>


</body>
</html>